.folder-container {
  background-color: #1D5C63;

  mat-list-option {
    color: #EDE6DB;
    width: 204px;

    .folder-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    mat-icon {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
