<div class="file-container" *ngIf="selectedFolder">
  <div>
    <form>
      <mat-form-field class="search-bar" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput [ngModel]="searchInput$ | async" name="search" (input)="onSearchInputChange($event)">
      </mat-form-field>
    </form>
  </div>
  <mat-list *ngFor="let file of filteredFiles$ | async; let i = index;">
    <mat-list-item>
      <span mat-line>
        {{file.name}}
      </span>
      <mat-icon mat-icon-button (click)="onDeleteFile(i)">delete</mat-icon>
    </mat-list-item>
  </mat-list>
</div>
