.file-container {
  background-color: #1D5C63;

  .search-bar {
    color: #eddbdb;
  }

  mat-list-item {

    color: #eddbdb;

    .mat-list-item-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #eddbdb;

      mat-icon {
        padding: 10px;
        cursor: pointer;
      }
    }
  }
}
